.colourButton{
    background-color: black;
    width: 40px;
    height: 40px;
    margin: 20px;
}

#buttonWrapper{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

h1{
    background-color: SeaGreen;
    text-align: center;
}

        
#colourValue{
    margin: 0 auto;
    text-align: center;
}

#answer{
    margin: 0 auto;
    text-align: center;
}

#reset{
    margin: 0 auto;
    text-align: center;
}

#reset-button{
    padding: 30px;
    background: none;
    margin: 10px;
}
#body
{
    background-color: pink;
}
